<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NicksAutographsFormApp.Properties.Settings.AutographCollectionConnectionString"
            connectionString="Data Source=NICKSPC;Initial Catalog=AutographCollection;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <!--work-->
      <!--<add name="SQL" connectionString="Server=NICHOLASPC\NICKSPC;Database=AutographCollection;User Id=sa;Password=;"/>-->
      
    <!--home-->
    <add name="SQL" connectionString="Server=NICKSPC;Database=AutographCollection;User Id=sa;Password=;"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>